# Master node section
master.gpt.path.linux = /opt/snap/bin/gpt
master.gpt.path.windows = C:\\Program Files\\snap\\bin\\gpt.exe
master.command.line.template.linux = $gpt $mop $margs -t $out/master.tif"
master.command.line.template.windows = $gpt $mop $margs -t $out\\master.tif"

# Slave nodes section
slave.gpt.path.linux = /opt/snap/bin/gpt
slave.gpt.path.windows = C:\\Program Files\\snap\\bin\\gpt.exe
slave.command.line.template.linux = $gpt $sop -Ssource=$in/%s $sargs -t $out/%s.tif
slave.command.line.template.windows = $gpt $sop -SSource=$in\\%s $sargs -t $out\\%s.tif
#slave.username =
#slave.password =
slave.node.1.linux = s2tb-cep-02.c-s.ro
slave.node.2.linux = s2tb-cep-03.c-s.ro